po/*.gmo
m4/*.m4
Makefile
Makefile.in
Makefile.in.in
*~
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
man/*.1
*.spec
missing
.deps/
.libs
src/remote-viewer
src/virt-viewer
po/POTFILES
po/stamp-it
*.o
*.lo
*.orig
*/.#*
*/#*#
stamp-h1
INSTALL
*.lo
*.la
